<!--
   login.html
-->
{% extends "base.html"%}
{% block title %}{{ title }}{% endblock %}

{% block content %}{% endblock %}
{% block form %}
<h2 class='login-container'>Введите логин/пароль</h2>
      <br>

   <div class='login-container'>
      
    <form method="post">
       {{ form.hidden_tag() }}
        <div>
          {{ form.username.label }} {{ form.username() }}
       </div>
       <div>
          {{ form.password.label }} {{ form.password() }}
       </div>
       <div>
          {{ form.submit() }}
       </div>
    </form>
    </div>
{% endblock %}
 
